<nav class="navbar navbar-expand-lg navbar-custom">
  <!-- <img className="juke" src="../img/pic.png"/> -->
  <a class="navbar-brand" href="/">ElectroJuke</a>
  <a class="navbar-brand" href="/venue/create">Create a venue</a>
  <a class="navbar-brand" href="/logout">Logout</a>
</nav>